body{
    margin: 0;
    padding: 0;
}
.fe-select-container{
    background-color: #fff;
    width: 200px;
    position: relative;
}
.edit{
    height: 100vh;
}
.fe-selection-list{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding-left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    z-index: 2;
    box-sizing: border-box;
    background-color: #fff;
}
.opened .fe-selection-list{
    border: 1px solid #ebebeb;
    border-top: 0;
}
.fe-selection-list li{
    padding: 5px;
}
.fe-selection-list li.selected, .fe-selection-list li:hover{
    cursor: pointer;
    background-color: #eee;
}
.fe-selected-value{
    padding-left: 5px;
    background-color: transparent;
    border: none;
}
.fe-selected-value:hover{
    cursor: pointer;
}
.fe-selected{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    border: 1px solid #ebebeb;
    transition: background-color 0.3s;
}
.fe-selected:hover{
    cursor: pointer;
    background-color: #eee;
}
.fe-caret{
    display: flex;
    width: 10px;
    height: 10px;
    background: url(https://mebel-7ja.ua/files/uploads/down-1534.png) no-repeat center;
    background-size: 100%;
}